.product {
    padding-bottom: 50px;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        order: 1;
        margin-bottom: 10px;
        border-bottom: 1px solid $grey;
        border-top: 1px solid $grey;
        display: flex;
        align-items: flex-start;
        padding: 15px 0;
    }

    &__name {
        width: 40%;
    }

    &__info {
        display: flex;
        flex-direction: column-reverse;
        width: 60%;
    }

    &__title {
        font-family: 'Proxima', serif;
        font-size: 28px;
        color: $black2;
        text-transform: uppercase;
    }

    &__subtitle {
        font-family: 'Proxima', serif;
        font-size: 12px;
        color: $grey;
    }

    .slider {
        order: 2;
        
        &__items img {
            padding: 20px;
        }

        &__nav {
            img {
                padding: 15px;
            }
        }
    }
    
	&__options {
        order: 3;
    }

    &__rating {
        span {
            padding: 0 4px;
            a {
                font-family: 'Proxima-light', serif;
                font-size: 12px;
                color: $blue;
            }
        }

        span + span {
            border-left: 1px solid $blue;
        }
        input{
            display:none;
        }
        
        label{
            cursor:pointer;
            font-size: 20px;
            width: 15px;
            transition: all 0.5s ease-in;
        
            &:hover{
                font-size:22px;
            }
            
            &:before{
                content: "\2605";
                color: $gold;
            }
        }
        input:checked + label ~label{
            &:before{
                content: "\2605";
                color: $grey;
            }
        }
    }

    .share {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($grey, .4);

        &__title {
            font-family: 'Proxima', serif;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.56px;
            color: $grey;
            text-transform: uppercase;
        }

        &__google, &__gmail {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__google {
            background-image: url(../icons/google-plus.svg);
        }

        &__gmail {
            background-image: url(../icons/gmail.svg);
        }
    }

    &__print {
        display: block;
        font-family: 'Proxima-light', serif;
        font-size: 10px;
        text-align: right;
        margin: 5px 0;
        color: rgba($grey, .8);
    }
}