.recomendation {
    &__title {
        font-family: 'Proxima-light', serif;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: $gold;
    }

    &__heading {
        font-family: 'Proxima', serif;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.56px;
        text-align: center;
        color: $blue;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .price {
        text-align: center;
    }
}